<html xmlns"http//www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8">

    <link href='https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600' rel='stylesheet' type='text/css'>

    <style type="text/css">
        .ReadMsgBody { width: 100%; }
        .ExternalClass { width: 100%; }
    </style>

    <style type="text/css">
      .wrapper {
        width: 500px;
        margin: 0 auto;
        border: 2px solid black;
        padding: 10px;
      }

      .brand-name {
        font-family: 'Cinzel Decorative';
        font-size: 43px;
        font-weight: lighter;
      }

      h3, h4, p {
        font-family: 'Montserrat';
      }

      .center {
        text-align: center;
      }

      .footer-info a {
        font-size: 11px;
        color: #B3B3B3;
        text-decoration: none;
        display: block;
        text-align: center;
      }

      .tag {
        margin: 20px 0 0 0;
      }

      .signature {
        margin: 0 0 20px 0;
      }

      .social-links-container {
        width: 150px;
        margin: 20px auto;
      }

      .social-links-container a img {
        width: 60px;
      }

      .social-links-container .social-link {
        margin-right: 20px;
        display: inline-block;
      }

      .social-links-container .social-link:last-child {
        margin-right: 0px;
      }

    </style>
</head>
<body>
  <div class="wrapper">
     <h2 class="brand-name center">K</h2>
     <h3 class="thanks center">Thanks for Signing Up!</h3>
     <p>Here is your unique url. Share with with everyone you know, the more people who sign up the more free stuff you get!</p>

     <a href="" >prelaunch.kursedapparel.com?ref=one-lucky-guy</a>

     <p class="center">Share via:</p>
     <div class="social-links-container group">
      <a href="http://www.facebook.com/sharer/sharer.php?u=" class="social-link" target="_blank"><img src="icon-fb.png" alt="Share on Facebook" style="display: block; margin: 0; padding: 0; border: 0;"></a>
      <a href="http://twitter.com/share?url=" class="social-link" target="_blank"><img src="icon-tw.png" alt="Share on Twitter" style="display: block; margin: 0; padding: 0; border: 0;"></a>
     </div>

     <p class="tag">Have fun!</p>
     <p class="signature">The Kursed Team</p>

     <p class="footer-info"><a href="http://kursedapparel.com">KursedApparel.com</a></p>
  </div>
</body>
</html>


